/* Réinitialise les marges et les rembourrages */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

/* Conteneur principal */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-container {
  background-color: #4e73df;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  color: #fff;
}

.login-form button, .logout-form button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #f15025; /* couleur de fond plus intense */
  color: #fff; /* couleur du texte blanc */
  cursor: pointer;
  transition: background-color .3s;
  font-weight: bold; /* texte en gras */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* ombre portée pour donner un effet de profondeur */
}

.login-form button:hover, .logout-form button:hover {
  background-color: #d14021; /* couleur de fond au survol plus intense */
}

.header-content .welcome-text {
  font-size: 1.5em;
  color: #4e73df;
}

.login-form input, .logout-form input {
  margin-right: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.header-content {
  margin: 0 auto;
  font-size: 1.2em;
}

.logo {
  padding: 10px;
  text-align: center;
}

.logo img {
  width: 50px;
  height: auto;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.namespace-toggle,
.details-section,
.section-toggle {
    cursor: pointer;
}

.details-section {
  border: 1px solid #cccccc9d;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.kube-app {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.kube-app h3 {
  color: #333;
}

.kube-app h4 {
  color: #666;
}

.kube-app ul {
  list-style-type: none;
  padding-left: 0;
}

.kube-app ul li {
  background: #f9f9f9;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  font-size: 0.8em;
}

.tutorial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.tutorial-item {
  width: 300px; /* Ajustez la largeur selon vos besoins */
  height: 150px; /* Ajustez la hauteur selon vos besoins */
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.tutorial-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.tutorial-link {
  color: #333;
  text-decoration: none;
}

.tutorial-description {
  font-size: 0.9em;
  color: #666;
}


.main-content {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  font-size: 1.1em;
  color: #333;
  margin-bottom: 10px;
}

.main-content section form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-content section form label {
  margin-bottom: 5px;
}

.main-content section h2 {
  text-align: left;
  color: #4e73df;
  margin-bottom: 10px; /* Ajustez la valeur selon vos besoins */
}

.main-content section form input[type="text"] {
  font-size: 1.2em;      /* Augmente la taille de la police */
  color: #4e73df;        /* Change la couleur du texte */
  padding: 5px;         /* Ajoute un peu d'espacement à l'intérieur du champ */
  border: 1px solid #ccc; /* Définit une bordure */
  border-radius: 4px;    /* Arrondit les coins de la bordure */
  width: 100%;           /* Fait en sorte que le champ prenne toute la largeur de son conteneur */
  margin-bottom: 5px; /* Ajustez la valeur selon vos besoins */
  box-sizing: border-box; /* Permet à la largeur d'inclure le padding et la bordure */
  box-shadow: 0 1px 3px rgba(0,0,0,.1); /* Ajoute une légère ombre pour donner un effet de profondeur */
  transition: box-shadow .3s; /* Ajoute une animation à l'ombre quand elle change */
}

/* Change l'ombre lorsque le champ est en focus */
.main-content section form input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.main-content section form textarea {
  flex-grow: 1;
  flex-basis: 0;
  width: 1500px;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,.1); /* Ajoute une légère ombre pour donner un effet de profondeur */
  transition: box-shadow .3s; /* Ajoute une animation à l'ombre quand elle change */
  background-color: #f3f3f3;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-content section form input[type="submit"] {
  background-color: #4e73df;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.main-content section form input[type="submit"]:hover {
  background-color: #45a049;
}


.main-content section {
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  background-color: #e7eaf3;
  border-top: 2px solid #ccc;
  color: #333;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: all .2s ease-in-out;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
}

.sidebar ul li:hover {
  background-color: #cfe8ff;
  transform: scale(1.05);
}

.sidebar {
  width: 250px;
  background-color: #f3f8ff;
  border-right: 2px solid #d1e4f9;
  min-height: 100vh; /* Ajustez la hauteur minimale selon vos besoins */
  position: sticky;
  top: 0;
}

.sidebar-rectangle {
  height: 10px;
  background-color: #ccc;
  margin: 12px 1;
}

.delete-button {
  background-color: #f44336; /* Red background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Change text size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Add a mouse pointer on hover */
  bottom: 100px; /* Ajustez cette valeur selon vos besoins */
  right: 10px; /* Ajustez cette valeur selon vos besoins */
  position: fixed;
}

.update-button {
  background-color: #3639f4; /* Red background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Change text size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Add a mouse pointer on hover */
  bottom: 100px; /* Ajustez cette valeur selon vos besoins */
  right: 220px; /* Ajustez cette valeur selon vos besoins */
  position: fixed;
}