<!DOCTYPE html>
<html>
<head>
    <title>Mes Tutoriels</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg">
</head>
<body>
    <div class="container">
        <div class="header-container">
            <div class="header-content">
              <h1>WhoAmI</h1>
            </div>
            {{if .Authenticated}}
                <div class="logout-form">
                    <p class="welcome-text">Bienvenue, {{.Username}} !</p>
                    <form action="/logout" method="GET">
                        <button type="submit">Se déconnecter</button>
                    </form>
                </div>
            {{else}}
                <div class="login-form">
                    <form action="/login" method="POST">
                        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
                        <input type="password" name="password" placeholder="Mot de passe" required>
                        <button type="submit">Se connecter</button>
                    </form>
                </div>
            {{end}}
        </div>
        <div class="main-container">
            <div class="sidebar">
                <div class="logo">
                    <img src="/static/logo.svg" alt="logo-svg">
                </div>
                <div class="sidebar-rectangle"></div>
                    <ul>
                      <li><a href="/">Accueil</a></li>
                      <li><a href="/tutoriels">Mes Tutoriels</a></li>
                      <li><a href="/whoami">Whoami</a></li>
                      {{if .Authenticated}}
                      <li><a href="/newPage">Create Tutoriels</a></li>
                      <li><a href="/kubernetes">Kubernetes</a></li>
                      {{else}}
                      {{end}}
                    </ul>
                <div class="sidebar-rectangle"></div>
            </div>
            <div class="page-content">
                <section>
                    <h2>Mes Tutoriels</h2>
                    <div class="tutorial-container">
                        {{range .Pages}}
                        <div class="tutorial-item">
                            <h3 class="tutorial-title"><a class="tutorial-link" href="pages/{{.ID}}">{{.Title}}</a></h3>
                        </div>
                        {{end}}
                    </div>
                </section>
            </div>
        </div>
        <footer>
            <p>© 2023 Whoami. Tous droits réservés. Site entièrement automatisé via gitops</p>
        </footer>
    </div>
</body>
</html>
