<!DOCTYPE html>
<html>
<head>
    <title>Mes Tutoriels</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header-container">
            <div class="header-content">
              <h1>WhoAmi</h1>
            </div>
            <div class="login-form">
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Nom d'utilisateur" required>
                    <input type="password" name="password" placeholder="Mot de passe" required>
                    <button type="submit">Se connecter</button>
                </form>
            </div>
        </div>
        <div class="main-container">
            <div class="sidebar">
                <div class="logo">
                    <img src="/static/logo.svg" alt="logo-svg">
                </div>
                <div class="sidebar-rectangle"></div>
                    <ul>
                      <li><a href="/">Accueil</a></li>
                      <li><a href="tutoriels">Mes Tutoriels</a></li>
                      <li><a href="whoami">Whoami</a></li>
                    </ul>
                <div class="sidebar-rectangle"></div>
            </div>
            <div class="main-content">
                <section>
                    <h2>Mes Tutoriels</h2>
                    <ul>
                        <li><a href="tutorial1.html">Tutoriel 1</a></li>
                        <li><a href="tutorial2.html">Tutoriel 2</a></li>
                        <li><a href="tutorial3.html">Tutoriel 3</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <footer>
        <p>© 2023 Whoami. Tous droits réservés. Site entiérement automatisé via gitops</p>
    </footer>
</body>
</html>