<!DOCTYPE html>
<html>
<head>
    <title>Create Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="header-container">
            <div class="header-content">
                <h1>Create a new page</h1>
            </div>
            {{if .Authenticated}}
                <div class="logout-form">
                    <p class="welcome-text">Bienvenue, {{.Username}} !</p>
                    <form action="/logout" method="GET">
                        <button type="submit">Se déconnecter</button>
                    </form>
                </div>
            {{else}}
                <div class="login-form">
                    <form action="/login" method="POST">
                        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
                        <input type="password" name="password" placeholder="Mot de passe" required>
                        <button type="submit">Se connecter</button>
                    </form>
                </div>
            {{end}}
        </div>
        <div class="main-container">
            <div class="sidebar">
                <div class="logo">
                    <img src="/static/logo.svg" alt="logo-svg">
                </div>
                <div class="sidebar-rectangle"></div>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="tutoriels">Mes Tutoriels</a></li>
                    <li><a href="whoami">Whoami</a></li>
                    {{if .Authenticated}}
                    <li><a href="newPage">Create Tutoriels</a></li>
                    {{else}}
                    {{end}}
                </ul>
                <div class="sidebar-rectangle"></div>
            </div>
            <div class="main-content">
                <section class="form-section">
                    <form action="/perfromUpdatePage" method="POST">
                        <label for="title">Titre:</label>
                        <input type="text" id="title" name="title" value="{{ .Title }}" required>
                        <label for="content"></label>
                        <textarea id="content" name="content" required>{{ .Content }}</textarea>
                        <input type="submit" value="Submit">
                    </form>
                </section class="form-section">
            </div>
        </div>
    </div>
    <footer>
        <p>© 2023 Whoami. Tous droits réservés. Site entièrement automatisé via gitops</p>
    </footer>
</body>
</html>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content');
</script>