<!DOCTYPE html>
<html>
<head>
    <title>WhoAmi - Page Personnelle</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header-container">
            <div class="header-content">
              <h1>WhoAmi</h1>
            </div>
            <div class="login-form">
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Nom d'utilisateur" required>
                    <input type="password" name="password" placeholder="Mot de passe" required>
                    <button type="submit">Se connecter</button>
                </form>
            </div>
        </div>
        <div class="main-container">
            <div class="sidebar">
                <div class="logo">
                    <img src="/static/logo.svg" alt="logo-svg">
                </div>
                <div class="sidebar-rectangle"></div>
                    <ul>
                      <li><a href="/">Accueil</a></li>
                      <li><a href="tutoriels">Mes Tutoriels</a></li>
                      <li><a href="whoami">Whoami</a></li>
                    </ul>
                <div class="sidebar-rectangle"></div>
            </div>
            <div class="main-content">
                <section>
                    <h2>Qui suis-je ?</h2>
                    <p>Je m'appelle SoulKyu et vous vous trouvez actuellement sur mon projet de site web developpé en Go à l'aide du framework Echo.
                    </p>
                    <p>
                        Je suis Ingénieur SRE depuis un plus de 4 ans maintenant spécialisé dans les solutions Cloud et Kubernetes.<br>
                        Ce site devrait me permettre de vous montrer mes différents projets HomeLab !
                    </p>
                    <p>
                        Vous devriez retrouver dans la section <a href="tutoriels">Mes Tutoriels</a>, l'ensemble des tutoriels de mes HomeLab : 
                    </p>
                    <ul>
                        <li>Mon HomeLab physique, mes petits serveurs</li>
                        <li>Mon cluster Kubernetes</li>
                        <li>Mes applications</li>
                        <li>Comment j'automatise mes tâches</li>
                        <li>Ma stack de média</li>
                    </ul>
                    <p>
                        L'objectif de ce projet c'est aussi d'améliorer mes compétences de developpement qui sont très pauvres, j'essaie de construire tout ca en auto-didacte
                    </p>
                </section>
            </div>
        </div>
    </div>
    <footer>
        <p>© 2023 Whoami. Tous droits réservés. Site entiérement automatisé via gitops</p>
    </footer>
</body>
</html>
